<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="myApp" lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>


</head>
<body ng-controller="MainCtrl">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <a href="#"><img class="logo" src="img/photo-1.jpg"></a>
              <ul class="nav nav-sidebar">
                  <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
                      <button type="button" ng-click="deleteCategory(category)" class="close">&times;</button>
                      <a href="#" ng-click="setCurrentCategory(category)">{{category.name}}</a>
                  </li>
              </ul>
              <hr/>
              <button type="button" class="bt btn-link btn-cat" ng-click="startCreatingCat();">
                  <span class="glyphicon glyphicon-plus"></span>
                  Dodaj kategorię
              </button>
              <!--CREATING-->
                  <form class="create-form" ng-show="isCreatingCat" role="form" ng-submit="createCategory(newCategory)" novalidate>
                      <div class="form-group">
                          <label for="newCategoryName">Nazwa kategorii</label>
                          <input type="text" class="form-control" id="newCategoryName" ng-model="newCategory.name" placeholder="Wpisz nazwę">
                      </div>
                      <button type="submit" class="btn btn-info btn-lg">Dodaj</button>
                      <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCreatingCat()">Anuluj</button>
                  </form>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <span id="title">KATALOG FIRM</span>
              <hr/>
              <div ng-if="isCategory()" ng-class="{'active':isSelectedBookmark(bookmark.id)}" ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
                  <button type="button" ng-click="deleteBookmark(bookmark)" class="close">&times;</button>
                  <button type="button" ng-click="setEditedBookmark(bookmark);startEditing();"  class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
                  <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
                  <p>{{bookmark.text}}</p>
              </div>
              <hr/>
              <!--CREATING-->
              <div ng-if="shouldShowCreating()">
                  <button type="button" class="bt btn-link btn-cat" ng-click="startCreating();">
                      <span class="glyphicon glyphicon-plus"></span>
                      Dodaj firmę
                  </button>
                  <form class="create-form" ng-show="isCreating" role="form" ng-submit="createBookmark(newBookmark)" novalidate>
                      <div class="form-group">
                          <label for="newBookmarkTitle">Nazwa firmy</label>
                          <input type="text" class="form-control" id="newBookmarkTitle" ng-model="newBookmark.title" placeholder="Wpisz nazwę firmy">
                      </div>
                      <div class="form-group">
                          <label for="newBookmarkText">Opis firmy</label>
                          <textarea rows="4" cols="50" class="form-control" id="newBookmarkText" ng-model="newBookmark.text">
                          </textarea>
                      </div>
                      <div class="form-group">
                          <label for="newBookmarkURL">Strona WWW</label>
                          <input type="text" class="form-control" id="newBookmarkURL" ng-model="newBookmark.url" placeholder="Podaj stronę WWW">
                      </div>
                      <button type="submit" class="btn btn-info btn-lg">Dodaj</button>
                      <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCreating()">Anuluj</button>
                  </form>
              </div>
              <!--EDITING-->
              <div ng-if="shouldShowEditing()">
                  <div ng-show="shouldShowEditing()">
                      <h4>edycja: {{editedBookmark.title}}</h4>

                      <form class="edit-form" role="form" ng-submit="updateBookmark(editedBookmark)" novalidate>
                          <div class="form-group">
                              <label>Nazwa firmy</label>
                              <input type="text" class="form-control" ng-model="editedBookmark.title" placeholder="Wpisz nazwę firmy">
                          </div>
                          <div class="form-group">
                              <label>Opis firmy</label>
                          <textarea rows="4" cols="50" class="form-control" ng-model="editedBookmark.text">
                          </textarea>
                          </div>
                          <div class="form-group">
                              <label>Strona WWW</label>
                              <input type="text" class="form-control" ng-model="editedBookmark.url" placeholder="Podaj stronę WWW">
                          </div>
                          <button type="submit" class="btn btn-info btn-lg">Zapisz</button>
                          <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelEditing()">Anuluj</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src='js/firebase.js'></script>
  <script src='js/angular-fire.min.js'></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
